.header_image {
    margin-left: auto;
    margin-right: 36.5%;
    width: 31%;
    border-radius: 25px;
    border: 4px solid #965c26;
    background-color: white;
}

.header-container {
    display: flex;
}
