<div *ngIf="quizData">
    <div id="quiz" *ngIf="!isGameFinished">
        <div id="header-quiz" class="text">
            <div id="title-quiz">
                <b>{{ quizData[0].title }}</b>
            </div>
            <div id="timer">
                <b>{{ timeService.time }}s restante(s)</b>
            </div>
        </div>
        <div id="description-question">
            <div id="cat-pts">
                <img id="cat-image" src="assets/cat_pts.png" alt="TheCatIndicateValue" width="50%" />
                <div class="text" id="value-question">{{ getCurrentQuestion().points }} pts</div>
            </div>

            <div class="text" id="text-question">{{ getCurrentQuestion().text }} <br /></div>

            <!-- Contexte : Dans le mode test, comme il est seul, le joueur va avoir toujours le bonus (20%) -->
            <div class="text" *ngIf="isCorrectAnswer === 'Correct'">
                Bien joué ! <b class="text-bonus">T'es le premier à soumettre la/les bonnes réponses (bonus de 20%)</b>
            </div>
            <div class="text" *ngIf="isCorrectAnswer === 'Incorrect'">
                Mauvaise(s) réponses(s) ! La/Les réponses :
                <li *ngFor="let choice of getGoodAnswerQuestion()">
                    {{ choice.text }}
                </li>
            </div>
        </div>

        <div *ngIf="this.quizData[0].questions[this.currentQuestionIndex].type === 'QCM'" id="choice-buttons">
            <div *ngIf="isQuestionFinished === false" class="button-container">
                <button
                    *ngFor="let choice of getCurrentQuestion().choices; let i = index"
                    (click)="toggleAnswerSelection(choice.text)"
                    (keydown)="handleKeyPress($event)"
                    [ngClass]="{ active: isSelected(choice.text) }"
                    class="buttonAllChoices"
                >
                    ({{ i + 1 }})<br />
                    {{ choice.text }}
                </button>
            </div>

            <div *ngIf="isQuestionFinished === true" class="button-container">
                <button *ngFor="let choice of getGoodAnswerQuestion()" id="buttonGoodAnswer">
                    {{ choice.text }}
                </button>

                <button *ngFor="let choice of getWrongAnswerQuestion()" id="buttonWrongAnswer">
                    {{ choice.text }}
                </button>
            </div>
        </div>
        <div *ngIf="this.quizData[0].questions[this.currentQuestionIndex].type === 'QRL' && !isQuestionFinished" id="qrl-input-container">
            <div id="qrl-input-container">
                <div class="input-wrapper">
                    <textarea
                        id="qrl-answer-input"
                        placeholder="Veuillez taper votre réponse ici"
                        [(ngModel)]="qrlAnswer"
                        maxlength="200"
                        rows="4"
                    ></textarea>
                </div>
                <div id="counter-container">
                    <span id="char-counter">{{ qrlAnswer.length }}/200</span>
                </div>
            </div>
        </div>

        <div id="container-submit-anwser" *ngIf="isQuestionFinished === false">
            <button id="button-submit-anwser" mat-raised-button (click)="submitAnswer()" (keydown.enter)="submitAnswer()">SOUMETTRE</button>
        </div>
    </div>
</div>
