.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-image: url('./../../../assets/image/Background8.png');
    background-position: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 60%;
}
